@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=DotGothic16:400,700');

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "DotGothic16", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
//$widescreen-enabled: false;
//$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;


$footer-padding: .5rem 3rem;

html, body { height: 100%; }
body {
    display: flex;
    flex-direction: column;
}
section.top {
    flex-grow: 1;
}

@import "bulma/sass/base/all";
@import "bulma/sass/components/all";
@import "bulma/sass/elements/all";
@import "bulma/sass/form/all";
@import "bulma/sass/grid/all";
@import "bulma/sass/helpers/all";
@import "bulma/sass/layout/all";
@import "bulma/sass/utilities/all";
